body{
    background-color: beige;
}
#grid{
    border: 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
background-color: aliceblue;
}
div span{
    border: 1px solid;
    text-align: center;
    border-color: blue;
    color : blue;
    box-shadow : 0 0 40px 40px aliceblue inset, 0 0 0 0 aliceblue;
    transition : all 150ms ease-in-out;
}
div span:hover{
    box-shadow: 0 0 10px 0 blue inset, 0 0 10px 4px blue;
}

p div{
    display: inline-block;
    text-align: center;
    background-color: black;
    margin: 7px;
    color: blue;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
#p span{
    display: inline-block;
    background-color: pink;
    text-align: center;
    margin: 7px;
    width: 70px;
    height: 35px;
    color :blue;
    
}
canvas{ 
    background-color: aliceblue;
    border: 1px solid;
}
article{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#p input{
    padding: 2em 2em; margin: 2em 0;
     font-weight: bold; color: #5B8BD0;
      background: #FFF;
     border:solid 3px #5B8BD0; border-radius: 10px;
}
#frame {
    width: 90%;
    margin: 40px auto;
    text-align: center;
  }
  #button,#save_button {
    border-color: red;
    color : #fff;
    box-shadow : 0 0 40px 40px red inset, 0 0 0 0 red;
    transition : all 150ms ease-in-out;
  }
  #button:hover,#save_button:hover {
    box-shadow: 0 0 10px 0 rebeccapurple inset, 0 0 10px 4px rebeccapurple;
  }